body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card-one {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-two {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#portfolio-image{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.container{
    max-width: 1248px;
    height: 100%;
    margin-bottom: 5%;
    margin: auto;
    padding-top: 5%;
}
.portfolio-header{
    overflow: auto;
}
.portfolio-image-wrapper, .portfolio-desc{
    float: left;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.portfolio-image-wrapper{
    width: 25%;
    float: left;
    text-align: center;
}

.portfolio-desc{
    width: 75%;
}

.desc-wrapper{
    padding: .5%;
    padding-left: 5%;
    text-align: justify;
    padding-right: 5%;
}
.desc-wrapper > label {
    font-weight: bold;
    width: 150px;
}
.profile-desc{
    margin-top: 1.5%;
}
.projects-wrapper{
    height: 100%;
    width: 90%;
    margin: 5%;
    margin-top: 5%;
}
.center{
    text-align: center;
}
.dark-header{
    background-color: black;
    color: white;
}
.header{
    background-color: #ddd;
}
h1, h3, h2{
    margin: 0px;
}
.project-card{
    margin-top: 2.5%;
    width: 44%;
    padding: 1.5%;
    margin: 1.5%;
    float: left;
    height: 350px;
    overflow: auto;
}
.project-detail{
    margin-top: 2.5%;
    margin-left: 2.5%;
    width: 100%;
}
.project-detail > label{
    font-weight: bold;
}
.project-description{
    padding-top: 5%;
    margin-left: 2.5%;
}
.project-description > p {
    text-align: justify;
    text-indent: 50px;
}